<ion-list>
  <ng-container *ngFor="let section of sections ">
    <ion-list-header *ngIf="section.section.header">
      {{section.section.header}}
    </ion-list-header>
    <ion-grid *ngIf="section.section.fields !== undefined " no-padding>
      <ion-row align-items-end>
        <ng-container *ngIf="section.type == 'normal'">
          <ng-container *ngFor="let field of section.section.fields">
            <ion-col col-12 *ngIf="field.showFlag"  (click)="field.render_type == 'image_upload' && openImgViewer(field)">
              <ion-item *ngIf="field.field">
                <ion-label text-wrap text-left class="list-label">{{matchFieldToDescribe(field.field, field)}}</ion-label>
                <ion-label text-wrap text-right class="item-value" *ngIf="!field.widecol&&field.field!='sign_in_location'">{{matchFieldToMetadata(field.field, field)}}</ion-label>
                <ion-label text-wrap text-right class="item-value" *ngIf="!field.widecol&&field.field=='sign_in_location'" (click)="tapAction($event, field)">{{matchFieldToMetadata(field.field, field)}}<span class="location">&nbsp;&nbsp;&nbsp;&nbsp;</span></ion-label>
                <ion-label text-wrap text-right class="item-value" *ngIf="field.widecol&&field.render_type!='star'">{{matchFieldToMetadata(field.field, field)}}</ion-label>
                <ion-label text-wrap text-right class="star_label" *ngIf="field.widecol&&field.render_type=='star'">
                   <star-rating [rating]="matchFieldToMetadata(field.field, field)" [max]="max" [readonly]="readonly" [show_label]="field.show_label"></star-rating>
                </ion-label>
              </ion-item>
              <ion-item *ngIf="!field.field" class="item-bar">
                <p text-wrap *ngIf="!field.widecol" class="bar {{ field.render_type }}">{{matchFieldToMetadata(field.field, field)}}</p>
                <p text-wrap class="item-value-wide bar {{ field.render_type }}" *ngIf="field.widecol">{{matchFieldToMetadata(field.field, field)}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-12 *ngIf="!field.showFlag && field.json_table">
              <page-survey></page-survey>
            </ion-col>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="section.type == 'insert'">
          <ng-container *ngFor="let field of section.section.fields">
            <ion-col col-12 *ngIf="field.showFlag">
              <ion-item *ngIf="field.field">
                <ion-label text-wrap text-left class="list-label">{{field.label}}</ion-label>
                <ion-label text-wrap text-right class="item-value" *ngIf="!field.widecol">{{field.value}}</ion-label>
                <ion-label text-wrap text-right class="item-value item-value-wide" *ngIf="field.widecol">{{field.value}}</ion-label>
              </ion-item>
              <ion-item *ngIf="!field.field">
                <ion-label text-wrap class="bar {{ field.render_type }}" *ngIf="!field.widecol">{{field.value}}</ion-label>
                <ion-label text-wrap class=" item-value-wide bar {{ field.render_type }}" *ngIf="field.widecol">{{field.value}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col col-12 *ngIf="!field.showFlag && field.json_table">
              <page-survey></page-survey>
            </ion-col>
          </ng-container>
        </ng-container>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-list>
