comp-product-detail {
  .fc-product-header {
    padding: 0px;
    margin: 0px;
  }
  .fc_list_title {
    border-left: 10px solid #eee;
    padding-left: 10px;
    white-space: normal;
  }
  .color_success {
    color: green;
  }
  .color_warning {
    color: orange;
  }
  .color_danger {
    color: red;
  }
}
