<ion-list>
  <ion-list-header>
    {{translateService.translateFunc('pad.product_reaction_doc_title')}}
  </ion-list-header>
  <ion-item class="product-edit">
    <ion-grid no-padding>
      <ion-row>
        <ion-col class="product-col">
          <div *ngFor="let product of products" class="product-item">
            <ion-item>
              <ion-label text-wrap>{{product.name}}</ion-label>
              <ion-checkbox color="primary" (ionChange)="updateProductList($event, product)" [(ngModel)]="product.is_checked"></ion-checkbox>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
<ion-list>
  <div *ngFor="let product of productList">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-label text-wrap text-left color="darkgray">
              {{product.name}}
            </ion-label>
            <ion-select text-right interface="popover" [id]="product.id" [name]="product.id" [(ngModel)]="productValue[product.id]" *ngIf="results !== undefined">
              <ion-option *ngFor="let result of results" [value]="result.value">{{result.label}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item no-lines style="min-height: 3.8rem;">
            <ion-label text-wrap text-right item-end (click)="addKeyMessage(product); $event.stopPropagation()">
              <ion-icon name="add-circle" color="primary"></ion-icon>
            </ion-label>
            <ion-label text-wrap text-right item-end (click)="deleteKeyMessage(product); $event.stopPropagation()">
              <ion-icon name="remove-circle" color="danger"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="product.message !== undefined">
      <ion-row *ngFor="let x of product.message">
        <ion-col col-10>
          <ion-item>
            <ion-label text-wrap text-left color="darkgray" class="fc-options-css">
              {{ (x.key_message__r !== undefined) ? x.key_message__r.name : x.name}}
            </ion-label>
            <ion-select text-right interface="popover" [id]="product.id+'/'+x.key_message" [name]="product.id+'/'+x.key_message" [(ngModel)]="keyMessageValue[product.id+'/'+x.key_message]">
              <ion-option *ngFor="let att of results" [value]="att.value">{{(att.label)}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <span (click)="removeKeyMessage(product, x); $event.stopPropagation()">
            <ion-label text-wrap text-right>
              <ion-icon name="remove-circle" color="danger"></ion-icon>
            </ion-label>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngFor="let product of virProducts">
    <ion-grid></ion-grid>
    <ion-grid></ion-grid>
  </div>
</ion-list>
