page-pick-list{
  ion-input.searchBox{
    ::-webkit-input-placeholder { /* WebKit browsers */
      color: lightgray;
      font-size: 80%;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: lightgray;
      font-size: 80%;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: lightgray;
      font-size: 80%;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: lightgray;
      font-size: 80%;
    }
    input{
      border-bottom: 1px solid lightcyan;
    }
  }
}
