<ion-header>
  <ion-toolbar color="webHeader">
    <ion-buttons>
      <button ion-button icon-only (click)="backToUp()">
        <ion-icon name="arrow-back"></ion-icon>
        {{translateService.translateFunc('pad.action_callback')}}
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-scroll scrollX='true' scrollY='true' style="width: 100%; height: 100%;">
    <img *ngFor="let slide of slides" [src]="slide.image" style="width:100%; height: 100%;"/>
  </ion-scroll>
  <!-- <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
        <ion-card style="align-content: center; align-items: center">
          <img [src]="slide.image" style="width:100%; height: 100%;"/>
        </ion-card>
    </ion-slide>
  </ion-slides> -->
</ion-content>
